/*Marc-Andre Brochu et Rafael David Higuera Silva*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: Verdana, Arial, sans-serif;
  width: auto;
  margin: 0;
}

header {
  background-color: #66CCFF;
  background-image: url('./images/logobackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}

main {
  text-align: left;
}

footer {
  margin-top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #66CCFF;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

h1 {
  padding: 20px;
  text-align: left;
  font-size: 50px;
  color: #0099CC;
}

h2 {
  text-align: center;
  color: #003399;
  font-size: 20px;
  padding-top: 15px;
  margin: 0;
}

p{
  text-align: left;
  width: 90%;
  margin-left: 10px;
}

dl {
  padding: 0.5em;
}

dt {
  clear: left;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: #0099CC;
  font-size: 20px;
}

dd {
  margin-left: 5%;
  margin-top: 20px;
  width: 95%;
}

a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  color: #003399;
}

span {
  font-weight: bold;
  font-size: 110%;
  color: #000033;
}

.menu {
  margin-top: 5px;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}

.description {
  margin: 30px;
  margin-bottom: 5px;
}

.descriptionVelos {
  position: relative;
  padding: 1px;
  width: 32%;
  height: 300px;
  display: inline-block;
  text-align: center;
}

.descriptionVelos img {
  width: 95%;
  height: 300px;
}

#externalLink {
  font-weight: bold;
  padding: 0px;
  font-style: italic;
  color: #0099CC;
}

.subTitle {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 17.5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
